CONFIG_ARM=y
# CONFIG_GEN_IRQ_VECTOR_TABLE is not set
CONFIG_FLOAT=y
CONFIG_SOC_BCM5820X=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=26000000
CONFIG_BOARD_SERP_CP=y
CONFIG_BOOT_BANNER=y
CONFIG_HEAP_MEM_POOL_SIZE=98304
CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000
CONFIG_INIT_STACKS=y
CONFIG_CONSOLE=y
CONFIG_CONSOLE_SUBSYS=y
CONFIG_CONSOLE_GETCHAR=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_CONSOLE_DEBUG_SERVER_HOOKS=y
CONFIG_SERIAL=y
CONFIG_UART_LINE_CTRL=y
CONFIG_UART_DRV_CMD=y
CONFIG_UART_NS16550=y
CONFIG_BRCM_DRIVER_ADC=y
CONFIG_BRCM_DRIVER_BBL=y
CONFIG_BRCM_DRIVER_CRYPTO=y
CONFIG_BRCM_DRIVER_DMA=y
CONFIG_BRCM_DRIVER_DMU=y
CONFIG_BRCM_DRIVER_GPIO=y
CONFIG_BRCM_DRIVER_I2C=y
CONFIG_BRCM_DRIVER_PM=y
CONFIG_BRCM_DRIVER_PWM=y
CONFIG_BRCM_DRIVER_QSPI=y
CONFIG_BRCM_DRIVER_RTC=y
CONFIG_BRCM_DRIVER_SCC=y
CONFIG_BRCM_DRIVER_SMAU=y
CONFIG_BRCM_DRIVER_SOTP=y
CONFIG_BRCM_DRIVER_SPI=y
CONFIG_BRCM_DRIVER_LCD=y
CONFIG_ALLOW_IOMUX_OVERRIDE=y
CONFIG_LCD_SPI_MODE=y
CONFIG_SPI1_USES_MFIO_6_TO_9=n
CONFIG_SPI2_USES_MFIO_10_TO_13=n
CONFIG_SPI3_USES_MFIO_14_TO_17=n
CONFIG_SPI4_USES_MFIO_18_TO_21=n
CONFIG_BRCM_DRIVER_TIMERS=y
CONFIG_BRCM_DRIVER_UNICAM=y
CONFIG_BRCM_DRIVER_USBD=y
CONFIG_BRCM_DRIVER_USBH=y
CONFIG_BRCM_DRIVER_WDT=y
CONFIG_OBJECT_TRACING=y
CONFIG_LOG=y
CONFIG_LOG_IMMEDIATE=y
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_SHELL=y
CONFIG_SHELL_STACK_SIZE=2500
CONFIG_KERNEL_SHELL=y
CONFIG_ZBAR=y
CONFIG_ZBAR_USE_STATIC_BUFFER=y
CONFIG_ZBAR_STATIC_TEST=y
CONFIG_ZTEST=y
CONFIG_TEST_EXTRA_STACKSIZE=30000
CONFIG_LCD_SPI_DEV="spi4"
CONFIG_LCD_SPI_MODE_DC_GPIO=53
CONFIG_USB_CDC_ACM=y
CONFIG_USB_DEVICE_VID=0x8086
CONFIG_USB_DEVICE_PID=0xF8A1

