#
# Copyright Broadcom corporation (2018)
#

# Default build configration
# This variable should match board specific folder under $(MPOS_BASE)/boards/
#BOARD ?= citadel_svk_58201
BOARD = serp_cp
# This variable should match os specific folder under $(MPOS_BASE)/os/
CONFIG_RTOS ?= no_os
# This variable should match the app folder under $(MPOS_BASE)/apps/
CONFIG_APP ?= ut
# To build for unprogrammed parts
# set CONFIG_SOC_UNPROGRAMMED=y here or at command line
CONFIG_SOC_UNPROGRAMMED ?= n
# To build a load and execute RAM image, comment this line
# set CONFIG_XIP=n at command line
CONFIG_XIP ?= y
# Relative to <root>/os/<rtos>/, the location where the RTOS specific includes
# are situated (Default to open rtos)
RTOS_INCLUDE_REL_PATH ?= include portable/GCC/ARM_CA7

# Enable MMU by default
CONFIG_ARM_CORE_MMU ?= y
# Enable data cache by default
CONFIG_DATA_CACHE_SUPPORT ?= y
# Enable FPU
CONFIG_FPU_ENABLED ?= y

# Generic timer source clock speed
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC = 26000000

# Additional dependent configs
CONFIG_BOARD = $(BOARD)
CONFIG_SOC = $(subst citadel_svk_,,$(BOARD))

CONFIG_$(shell echo $(BOARD) | tr a-z A-Z) ?= y
CONFIG_$(shell echo $(subst citadel_svk,bcm,$(BOARD)) | tr a-z A-Z)_SVK ?= y

# Stack dump enable on crash
CONFIG_STACK_DUMP_SIZE_ON_FAULT = 64
